<nav class="navbar bg-dark py-0">
    <ul>
        <li>
            <a class="nav-link disabled text-white py-0 "> 
             FREE shipping on orders over $35
            </a>
         </li>
        </ul>
<ul class="nav justify-content-end">
    
    <li class="nav-item"><a class="nav-link text-white" href="#">
     Find Stores Near You
    </a>
</li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
    Weekly Ad
     </a>
    </li>
     <li class="nav-item">
         <a class="nav-link text-white" href="#">
        Gift Cards
     </a>
    </li>
     <li class="nav-item">
         <a class="nav-link text-white" href="#">
     Check an Order
     </a>
    </li>
</ul>
</nav>

