.cardBorder{
    border: none;

    padding: 0px;

    margin: 0;
    margin-left: 0px;

    
    

}

.cardTitle{

    line-height: 20px;

    font-weight:600;

    font-size: 1rem;

    color: black;

    text-decoration-line: none;

    margin: 8px 0 0;

}

