<div class = "card cardBorder">
    <ul class = "list-group">  
        <li class = "list-group-item cardBorder" style="width: 200px" >
            <a class = "card-link" href = "#">
                <img src="{{imagePath}}" style="width: 200px">
            </a>    
        </li>
    
        <li class = "list-group-item cardBorder" style="width: 200px">
            <a class = " cardTitle" href = "#">
                {{title}}
            </a>
    
        </li>
    
        
    </ul>
    </div>