<div class = "card cardBorder">
<ul class = "list-group">  
    <li class = "list-group-item cardBorder">
        <a class = "card-link" href = "#">
            <img src="{{cardImage}}" width="650" height="400">
        </a>   
    </li>

    <li class = "list-group-item cardBorder textBold">
        <a class = "card-link cardTitle" href = "#">
            New Releases
        </a>

    </li>

    <li class = "list-group-item cardBorder">
        <a class = "card-link cardSubtitle" href = "#">
            Shop Now
        </a>
    </li>
</ul>
</div>