


<div class = "container-fluid">
    <h2 class = "d-flex justify-content-center topSellerFormat">Top Sellers</h2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-flex">

          <div class = "d-flex flex-row" >
              <div class = "px-4"*ngFor="let card of cardss">
                <app-carouselcard title={{card.title}} imagePath= {{card.imagePath}}></app-carouselcard>
              </div>

   
      
     
    </div>
    
    <button class="carousel-control-prev buttonFill" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next buttonFill" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>