<div class="light p-4">
    
    <ul class="nav">  
        <li class="nav-link" href="#">  
    <span class="nav-link text-black p-0" href="#"><img src="https://media.gamestop.com/i/gamestop/New-Release-596x400@2x.webp" width="650" height="400"></span>
    <p class = "text-black">New Releases</p>
    <p class = "text-black">Shop Now</p>
        </li>
        <li class="nav-link" href="#">
            <span class= "nav-item text-black p-1">
                <img src="https://media.gamestop.com/i/gamestop/NBA2K22_WNBA_596x400_HPHero.webp" width="650" height="400">
        </span>
        <p class = "text-black">NBA 2K22 WNBA</p>
        <p class = "text-black">Pre-Order Now</p>
    </li>
    </ul> 

  </div>