<div class="collapse menu-body" id="navbarToggleExternalContent">
  <div class="p-1">
    
    <ul class="nav justify-content-center">  
        <li>  
              <a class="nav-link text-muted p-2" href="#"><img src="{{imagePath}}"></a>
        </li>
        
          <span class= "nav-item p-3">
            <iframe width="640" height="347" src="https://www.youtube.com/embed/F8HmSaaISpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
          </span>
    </ul> 

  </div>
</div>
<nav class="navbar third-navbar justify-content-center">
  
    <button class="navbar-toggler third-navbar-button text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class = "icon-white"><img class ="iconFormat" src = {{buttonIconDown}}></span>
    </button>
  
</nav>