<div class = "card cardBorder">
    <ul class = "list-group">  
        <li class = "list-group-item cardBorder">
            <a class = "card-link" href = "#">
                <img src="{{cardImage}}" width="650" height="400">
            </a>    
        </li>
    
        <li class = "list-group-item cardBorder">
            <a class = "card-link cardTitle" href = "#">
                NBA 2K22
            </a>
    
        </li>
    
        <li class = "list-group-item cardBorder">
            <a class = "card-link textColor cardSubtitle" href = "#">
                Shop Now
            </a>
        </li>
    </ul>
    </div>